html {
  padding: 30px 0;
  margin: 0 auto;
  cursor: url('https://i.imgur.com/sKjmO5v.png'), pointer;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(53% 143% at 9% 55%, #140122FF 16%, #073AFF00 100%),radial-gradient(100% 100% at 8% 58%, #073AFF00 0%, #140122FF 99%),linear-gradient(93deg, #23127FFF 0%, #6E32C3 50%, #6E0F88 100%);
  height: 100%;
  width: 100%;
}

.container {
  border: 3px solid #6CCFD6;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.canvas {
  position: absolute;
  top: 0;
  width: 500px;
  height: 500px;
  background-size: 100%;
}

.form {
  padding: 20px;
  width: 500px;
  height: 500px;
}

#ransomizer {
  font-size:3em;
  line-height: normal;
  word-spacing:0.5em;
}

#ransomizer div {
  display:inline-block;
}

#ransomizer .rww {
  white-space: pre;
  display:inline;
  margin-left: .2em;
  margin-right: .2em;
}

#ransomizer .rr {
  -ms-transform: rotate(1.5deg);
  -webkit-transform: rotate(1.5deg);
  transform: rotate(1.5deg);
}

#ransomizer .rl {
  -ms-transform: rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
}
